.leftPlaneBox{
    flex: 2;
    height: calc(100vh - 50px);
    overflow: scroll;
    font-family: Helvetica, Arial, sans-serif;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: lightgrey;
}
::-webkit-scrollbar-thumb{
    background-color: dodgerblue;
}
.leftContainer{
    padding: 20px;

}
.leftMainMenu{
    padding: 0;
    margin: 0;
    list-style: none;
}
.leftPlanMenuItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.leftPlanMenuItem:hover{
    cursor: pointer;
}
.leftPlaneMenuIcon{
    margin-right: 20px;
}
.leftPlaneMenuIcon{
    cursor: pointer;
}
.pagePic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.pagesYouLike{
    font-family: Ubuntu, 'sans-serif';
    font-weight: bold;
    margin-top: 10px;
    color: #2a2929;
}
.pageList{
    margin: 0;
    padding: 0;
}
.pageListItem{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;

}
.pagesName{
    margin-left: 10px;
}
